// Colors
$off-black: #20222b;
$dark-blue: #535a79;
$blue: #3c5fc0;
$light-blue: #4f5670;
$off-white: #069ef7;
$purple: #0c41ee;
$bg: #e70d0d;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 44rem;
